default: &default
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  username: <%= ENV.fetch('DATABASE_USERNAME') { 'root' } %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  host: <%= ENV.fetch('DATABASE_HOST') { '127.0.0.1' } %>

development:
  <<: *default
  database: cocchi_development

test:
  <<: *default
  database: cocchi_test

production:
  <<: *default
  <% ENV['DATABASE_URL']=ENV['CLEARDB_DATABASE_URL'].gsub(/^mysql/, 'mysql2') if ENV['CLEARDB_DATABASE_URL'] && !ENV['DATABASE_URL'] %>
  database: cocchi_production
