- tracking_id = ENV['GOOGLE_ANALYTICS_TRACKING_ID']
- user_id = @current_user&.id.to_json

- if Rails.env.production?
  script async src="https://www.googletagmanager.com/gtag/js?id=#{tracking_id}">
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    if(#{user_id}) {
      gtag('config', #{tracking_id}, {
      'custom_map': {'dimension1': 'user_id'},
      });
      gtag('set', {'user_id': #{user_id}});
      gtag('event', 'user_id_dimension', {'user_id': #{user_id}});
    } else { gtag('config', #{tracking_id}); }
